<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carousel Slider Demo</title>
    <link rel="stylesheet" href="css/lightslider.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/lightslider.min.js"></script>
</head>
<body>
<ul id="lightSlider">
    <li><img src="../white.png" alt="white"/></li>
    <li><img src="../red.png" alt="red"/></li>
</ul>
<script type="text/javascript">
    $(document).ready(function () {
        $("#lightSlider").lightSlider({autoWidth:true});
    });
</script>
</body>
</html>